/*Medium Screen*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {}
/*Tablet Screen:768px*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

    
}
/*Mobile Layout:320px*/

@media only screen and (max-width: 767px) {
    body {
        background-color: #000;
        overflow-y: scroll;
    }
    #overlay {
        position:   relative;
    }
    .socialProfiles i {
        font-size: 23px;
        height: 40px;
        margin-left: 5px;
        width: 40px;
    }
    .others {
        margin-bottom: 100px;
    }


}
/*Width Mobile Layout:480px*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

    body {
        background-color: #000;
        overflow-y: scroll;
    }
    #overlay {
        position:   relative;
    }
    .socialProfiles i {
        font-size: 23px;
        height: 40px;
        margin-left: 5px;
        width: 40px;
    }
    .others {
        margin-bottom: 100px;
    }
}