@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Cabin|Permanent+Marker');

*{margin: 0;padding: 0} 
a {
    outline: 0;
}
/*start background design*/
body {
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Cabin', sans-serif;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.7);
    /*background-color: #000;*/
    /*opacity: 0.7;*/
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}
/*End background design*/

/* start image design */
.imgPosition {
    min-height: 17em;
    position: relative;
}
.imgControll {
    border-radius: 0 0 50% 50%;
    height: 10em;
    left: 50%;
    margin-left: -73px;
    position: absolute;
    top: 31%;
    width: 10em;
}
/* end image design */

/*start informations design*/
.informations h2 {
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 37px;
    font-weight: bold;
    margin-top: -0.2em;
}
.informations h3{
    color: #077495;
    margin-top: 0px;
}
.informations p{
    color: #999999;
}
.quotation {
    font-size: 28px;
    margin: -10px 0 -1px;
}
.speciality{
    font-size: 16px;
}
.or > h2 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-weight: 500;
    margin-top: 9px;
}
/*end informations design*/

/*start social profiles*/
.socialProfiles i{
    background-color: #077495 ;
    border-radius: 50%;
    color: #d0d3d4;
    font-size: 34px;
    height: 50px;
    margin-left: 7px;
    padding: 7px;
    width: 50px;
    cursor: pointer;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
    position: relative;
}
.socialProfiles i:hover {
    background-color: white;
    color: #077495;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
}
/*end social profiles*/

/*start bootstrap button modified*/
.btn-warning {
    background-color: #077495 !important;
    color: #d0d3d4 !important;
    border: none !important;
    background-image: none !important;
}
.btn-warning:hover{
    background-color: #03566f !important;
    color: #fff !important;
}
.btn-success{
    background-color: #d0d3d4 !important;
    color: #077495 !important;
    border: none !important;
    background-image: none !important;
}
.btn-success:hover{
    background-color: #a6aaac !important;
    color: #03566f !important;
}
/*end bootstrap button modified*/
