/* button effect */
.btn:hover, .btn-large:hover{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.side-nav li a{
    color: #000;
}
.brand-logo h2 {
    margin-top: 7px;
}
.brand-logo h3 {
    font-size: 18px;
}

.card p a{
    color: #000;
}
.card p a:hover{
    color: #875a7b
}

.footer-wrap p{
    color: #000;
}
.contact-info{
    /*padding-bottom: 100px;*/
}
.portfolio-top .title.help-text {
    margin-bottom: 10px;
}
.portfolio-top p{
    margin-bottom: 30px;
}
.footer-inner p.center {
    font-size: 14px;
    margin-top: 1rem;
}
.contact-info li {
    float: none;
    display: inline;
    border-right: 0;
}
.contact-text h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
/* experience section */

.experience-external-link{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ddd;
    width: 100%;
}
.experience-external-link p{
    padding: 5px;
    text-align: center;
}
.experience-external-link a{
    background: #000;
    color: #fff !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    vertical-align: center !important;
    margin: 0 auto;
}
.experience-external-link p a i {
    margin-top: 13px;
    margin-left: 2px;
}

/*
    scrollbar
    width
*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #ffff;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#ddd;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}
